@if (User.Identity.IsAuthenticated)
{
    <a asp-controller="Product" asp-action="Favorites" class="text-white me-3 position-relative">
        <i class="bi bi-heart fs-5"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge bg-danger">@ViewBag.FavoriteCount</span>
    </a>
    <a asp-controller="Cart" asp-action="Index" class="text-white me-3 position-relative">
        <i class="bi bi-cart3 fs-5"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge bg-danger">@ViewBag.CartCount</span>
    </a>
}
else
{
    <a class="text-white me-3 position-relative" href="/Account/Login" onclick="return checkLogin(false)">
        <i class="bi bi-heart fs-5"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge bg-danger">0</span>
    </a>
    <a class="text-white me-3 position-relative" href="/Account/Login" onclick="return checkLogin(false)">
        <i class="bi bi-cart3 fs-5"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge bg-danger">0</span>
    </a>
}
