@model mvc_project.Models.AppUser

@{
    ViewData["Title"] = "Profilim";
}
<h1>Profilim</h1>
<div class="mb-3">
    <label class="form-label">Kullanıcı Adı</label>
    <input class="form-control" value="@Model.UserName" readonly />
</div>
<div class="mb-3">
    <label class="form-label">E-posta</label>
    <input class="form-control" value="@Model.Email" readonly />
</div>
<a  asp-controller="Account" asp-action="Logout" class="btn btn-danger">Çıkış Yap</a>
